<!DOCKTYPE html>
<html>
<head>
   <title>Tipsyflix - Enter your name</title>
   <link rel="stylesheet" href="styles/styles.css" />
</head>
<body>

<div class="content name">
   
	   <h2>Enter <strong>your</strong> name</h2>
	   <input id="player-name" type="text" value="" />
	   <button id="add-player-button">Go!</button>
   
</div>

</body>
</html>