<!DOCKTYPE html>
<html>
<head>
   <title>Tipsyflix - Enter your name</title>
   <link rel="stylesheet" href="styles/styles.css" />
</head>
<body>

<div class="content name">
   <h2>Enter <strong>your</strong> name</h2>
   <input type="text" value="" />
   <button type="submit">Go!</button>
</div>

</body>
</html>