<!DOCKTYPE html>
<html>
<head>
   <title>Tipsyflix - Playing</title>
   <link rel="stylesheet" href="styles/styles.css" />
</head>
<body>

<div class="content play">
   <div class="play">
      {{#each buttons}}
         <button id="{{id}}" class="play">{{text}}</button>
      {{/each}}
   </div>
   <div class="controls">
      <p>Score:0</p>
      <button class="good">Edit game</button>
      <button class="bad">End game</button>
   </div>
</div>

</body>
</html>