<!-- game_started -->

<div class="content">
   <div class="buttons">
      {{#each buttons}}
         <button id="{{id}}" class="play">{{text}}</button>
      {{/each}}
   </div>
   <div class="controls">
      <h2><strong>Score: </strong>{{score}}</h2>
      <!--<button class="good"><img src="images/pause.svg" alt="pause/edit game" /></button>-->
      {{#if master}}<button class="bad"><img src="images/stop.svg" alt="end game" /></button>{{/if}}
   </div>
</div>
