<!DOCKTYPE html>
<html>
<head>
   <title>Tipsyflix - Join Game</title>
   <link rel="stylesheet" href="styles/styles.css" />
</head>
<body>

<div class="content lobby">
   <h2><strong>Join</strong> Game</h2>
   <ul>
   {{#each games}}
      <li><a href="#game/{{id}}">{{name}}</a></li>
   {{/each}}
   </ul>

   <h2>... or create a new game</strong></h2>
   movie name:<input id="game-name" type="text" value="" /><br>
   <button id="create-game"><strong>Create</strong> Game</button>
</div>

</body>
</html>