<!-- home -->
<div class="lobby">
   <h1>nextflix</h1>
   <h2><strong>Join</strong> Game</h2>
   <ul>
   {{#each games}}
      <li><a href="#game/{{id}}">{{name}}</a></li>
   {{/each}}
   </ul>

   <div class="config">
      <h2><strong>or</strong></h2>
      <form>
      <input id="game-name" type="text" placeholder="Game name" value="" />
      <button id="create-game"><strong>Create</strong> Game</button>
      </form>
   </div>
</div>
