<!DOCKTYPE html>
<html>
<head>
   <title>Tipsyflix - Join Game</title>
   <link rel="stylesheet" href="styles/styles.css" />
</head>
<body>

<div class="content lobby">
   <h2><strong>Join</strong> Game</h2>
   <ul>
   {{#each games}}
      <li><a href="#">{{name}}</a></li>
   {{/each}}
   </ul>
   <button><strong>Create</strong> Game</button>
</div>

</body>
</html>