<!DOCKTYPE html>
<html>
<head>
   <title>Tipsyflix - Leaderboard</title>
   <link rel="stylesheet" href="styles/styles.css" />
</head>
<body>

<div class="content score">
   <h2>Game ended</h2>
   <ul>
      <li>Toto <em>10</em></li>
      <li>Popo <em>10</em></li>
      <li>Lulu <em>10</em></li>
      <li><strong>Mimi <em>10</em></strong></li>
      <li>Lola <em>10</em></li>
   </ul>
</div>

</body>
</html>