<!DOCKTYPE html>
<html>
<head>
   <title>Tipsyflix - Leaderboard</title>
   <link rel="stylesheet" href="styles/styles.css" />
</head>
<body>

<div class="content score">
   <h2>Game ended</h2>
   <table>
      {{#each scores.players}}
         <tr><td>{{name}}</td><td>{{wins}}</td><td>{{losses}}</td></li>         
      {{/each}}
   </table>
</div>

</body>
</html>