<!-- leaderboard -->

<div class="content score">
   <h1>TipsyFlix</h1>
   <h2><strong>Game</strong> ended</h2>
   <table>
      <tr><td>Player</td><td>Wins</td><td>losses</td></tr>
      {{#each scores.players}}
         <tr><td>{{name}}</td><td>{{wins}}</td><td>{{losses}}</td>         
      {{/each}}
   </table>
   <button>New Game</button>
</div>