<!DOCKTYPE html>
<html>
<head>
   <title>Tipsyflix - You loose!</title>
   <link rel="stylesheet" href="styles/styles.css" />
</head>
<body>

<div class="content verdict">
   <h1>You lose!</h1>
   <img src="images/loose.png" />
   <p>So did Toto, Popo and Lulu</p>
</div>

</body>
</html>