<!DOCKTYPE html>
<html>
<head>
   <title>Tipsyflix - Configure Game</title>
   <link rel="stylesheet" href="styles/styles.css" />
</head>
<body>

<div class="content config">
   <div class="play">
      <div class="play"><button class="edit">EPIC</button></div>
   </div>
   <div class="controls">
      <button class="good">Add button</button>
      <button class="bad">Start game</button>
   </div>
</div>

</body>
</html>