<!-- config screen: master_1_button -->

<div class="content config">	
   {{#each buttons}}
   <div class="play">{{text}}<button value="{{id}}" class="delete"><img src="images/delete.svg" alt="delete" /></button></div>
   {{/each}}
   <div class="controls">
   <form>
      <input id="button-text" type="text" value="EPIC!" />
      <button class="addButton"><img src="images/add.svg" alt="add" /></button>
      <button class="startGame"><img src="images/play.svg" alt="Play" /></button>
   </form>
   </div>
</div>
