body {
   background: #002327;
   font-family: sans-serif;
   color: white;
   margin: 0;
   padding: 5px;
   font: 24px sans-serif;
   text-transform: uppercase;
}

.hero-unit {
   margin: 0 auto 0 auto;
   text-align: center;
   width: auto;
   max-width: 800px;
   font-size: 24px;
   font-weight: 200;
   line-height: 30px;
}

.content {
   position: relative;
}

h1 {
   font-family: 'Monoton', cursive;
   font-size: 48px;
   line-height: 1;
   font-weight: normal;
}

h2 {
   font-size: 24px;
   color: #039986;
   font-weight: normal;
   line-height: 1;
}

strong {
   color: white;
}

ul {
   margin: 0;
   padding: 0;
}

ul li {
   list-style-type: none;
   border-bottom: 2px solid #013B44;
   text-align: left;
   color: white;
   line-height: 36px;
   text-transform: none;
}

ul li a {
   display: block;
}

ul li:last-child {
   border-bottom: none;
}

a {
   color: white;
   text-decoration: none;
}

input {
   font-size: 36px;
   width: 100%;
   text-align: center;
   padding: 0;
   line-height: 46px;
}

button, div.play {
   background-color: #039986;
   font-weight: bold;
   border-radius: 5px;
   padding: 22px;
   border: none;
   font-size: inherit;
   color: inherit;
   text-transform: inherit;
   display: inline-block;
   width: 100%;
}

button.bad {
   background-color: #F66F4E;
}

button.play {
   background-color: #013B44;
}

div.play,
.buttons .play {
   padding: 0;
   width: auto;
   position: relative;
   float: left;
   width: 49.5%;
   height: 110px;
   box-sizing: border-box;
   background-color: #013B44;
   margin-bottom: 5px;
   overflow: hidden;
}

div.play span {
   position: relative;
   top: 50%;
   transform: translateY(-50%);
   display: block;
}

div.play:nth-child(2n),
.buttons .play:nth-child(2n) {
   float: right;
}

div.play button {
   width: auto;
   padding: 0;
   margin: 0;
   position: absolute;
   top: 22px;
   right: 22px;
   background-color: transparent;
}

.buttons:after {
   display: block;
   clear: both;
   content: " ";
}

button.addButton {
   background-color: #F66F4E;
}

.lobby, .name {
   //padding: 0 30px;
}

.content.name {
   position: relative;
}

.content.name h2 {
   position: absolute;
   top: 50%;
   left: 50%;
   height: 30%;
   width: 50%;
   margin: -15% 0 0 -25%;
}

.controls {
   position: fixed;
   bottom: 5px;
   left: 5px;
   right: 5px;
   box-sizing: border-box;
}

.score table {
   border: none;
   padding: 0;
   margin: 0 auto;
   text-align: right;
   width: 95%;
   margin-bottom: 20px;
}

.score table tr:first-child {
   font-weight: bold;
}


.score table tr td:last-child {
   color: #F66F4E;
}

.score table tr td:nth-child(2) {
   color: #039986;
}

.score table tr td:first-child {
   text-align: left;
   padding-left: 5px;
   width: 100%;
}

.score table tr td:last-child {
   padding-right: 5px;
}

.score table tr td {
   border-bottom: 2px solid #013B44;
}

.score table tr:last-child td {
   border-bottom: none;
}

.score h2 {
   color: #F66F4E;
}

.play.pressed {
   background-color: #039986;
}

.content.verdict {
   position: absolute;
   text-align: center;
   top: 50%;
   width: 100%;
}
.content.verdict > div {
   margin-top: -200px;
}

.content.verdict p strong {
   color: #039986;
}